@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.banner {
  height: calc(100vh - 120px);
  background-image: linear-gradient(
    to left bottom,
    #373737,
    #303030,
    #292929,
    #222222,
    #1b1b1b,
    #181818,
    #151515,
    #111111,
    #111111,
    #111111,
    #111111,
    #111111
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
